@ZP_SHOP_能力
#DIM 表示数
#DIM 実際表示数
#DIM ページ数
#DIM 選択中番号
#DIMS 能力名保存, 50
#DIM ソート用配列, 50
VARSET RESULTS
VARSET 能力名保存
VARSET ソート用配列
選択中番号 = -1
表示数 = ENUMFUNCBEGINSWITH("ZP能力取得_")
ARRAYCOPY "RESULTS", "能力名保存"
FOR LOCAL, 0, 表示数
	CALLFORM %能力名保存:LOCAL%
	ソート用配列:LOCAL = RESULT
NEXT
ARRAYMSORT ソート用配列, 能力名保存

$表示部分
DRAWLINE
PRINTL 소지하지 않은 특수 능력의 일람입니다.
PRINTL 어떤 능력을 손에 넣으시겠습니까?
DRAWLINE

LOCALS = <div rect='81,31,1937,381' border='31' bcolor='#C0C0C0'></div>
LOCALS:2 = 소지 루피:%NUM_FORMAT(MONEY)%<br>
LOCALS:2 += @"소지 ZP　:%ZP所持量全文字列()%"
LOCALS += @"<div rect='156,125,1862,312'>%LOCALS:2%</div>"

LOCALS += "<div rect='81,412,1937,2812' border='31' bcolor='#C0C0C0'></div><div rect='2050,412,4000,2812' border='31' bcolor='#C0C0C0'></div>"
LOCALS += "<div rect='156,540,1937,2812'>"
実際表示数 = 0
FOR LOCAL, 0, 表示数
	詳細文文字列受け渡し変数２ '= ""
	CALLFORM %能力名保存:LOCAL%
	SIF RESULT == -1
		CONTINUE
	実際表示数 ++
	SIF (実際表示数 - 1) / 18 != ページ数
		CONTINUE
	SIF 詳細文文字列受け渡し変数２ != ""
		LOCALS += @"<font color='#%カラーパレット_HTML("グレーアウト")%'>"
	LOCALS += @"<button value='{LOCAL}'>[{LOCAL, 3}] %SUBSTRING(能力名保存:LOCAL, 11), 16, LEFT% - ZP:%NUM_FORMAT(RESULT), 6, RIGHT%</button>"
	SIF 詳細文文字列受け渡し変数２ != ""
		LOCALS += @"</font>"
	LOCALS += "<br>"
NEXT
IF 実際表示数 % 18 && (実際表示数 - 1) / 18 == ページ数
	FOR LOCAL, 0, 18 - 実際表示数 % 18
		LOCALS += "<br>"
	NEXT
ENDIF
LOCALS += "<br>"
IF 実際表示数 > 18
	IF ページ数 > 0
		LOCALS += "<button value='997'>[＜이전 페이지]</button>"
	ELSE
		LOCALS += "　　　　　　"
	ENDIF
	LOCALS += @" - {ページ数}/{(実際表示数 - 1) / 18} - "
	IF (実際表示数 - 1) / 18 > ページ数
		LOCALS += "<button value='998'>[다음 페이지＞]</button>"
	ENDIF
ENDIF
LOCALS += "<br>"
LOCALS += "<br>"
LOCALS += "<button value='999'>[999] 돌아가기</button>"
LOCALS += "<br>"
LOCALS += "</div>"

IF 選択中番号 > -1
	詳細文文字列受け渡し変数２ '= ""
	詳細文文字列受け渡し変数３ '= ""
	LOCALS += "<div rect='2125,540,3875,2812'>"
	CALLFORM %能力名保存:選択中番号%
	LOCALS += @"%詳細文文字列受け渡し変数%<br>"
	IF 詳細文文字列受け渡し変数２ != "" 
		LOCALS += @"<font color='#%カラーパレット_HTML("グレーアウト")%'>%詳細文文字列受け渡し変数２%<br>"
		LOCALS += @"[---] 취득한다</font>"
	ELSEIF 詳細文文字列受け渡し変数３ != ""
		LOCALS += @"%NUM_FORMAT(RESULT)%ZP를 지불하고, %SUBSTRING(能力名保存:選択中番号, 11)%을(를) 상실하시겠습니까?<br>"
		LOCALS += @"<button value='100'>[100] 상실한다</button>"
	ELSE
		LOCALS += @"%NUM_FORMAT(RESULT)%ZP를 지불하고, %SUBSTRING(能力名保存:選択中番号, 11)%을(를) 취득하시겠습니까?<br>"
		LOCALS += @"<button value='100'>[100] 취득한다</button>"
	ENDIF
	LOCALS += "<br>"
	LOCALS += "</div>"
ENDIF
HTML_PRINT LOCALS
FOR LOCAL, 0, 28
	PRINTL
NEXT

BINPUT
LOCAL = RESULT
SELECTCASE LOCAL
	CASE 997
		選択中番号 = -1
		ページ数 --
	CASE 998
		選択中番号 = -1
		ページ数 ++
	CASE 999
		選択中番号 = -1
		ページ数 = 0
		RETURN 0
	CASE 100
		SIF 選択中番号 < 0
			GOTO 表示部分
		CALLFORM %能力名保存:選択中番号%
		IF FLAG:ZP所持量 < RESULT
			PRINTW ZP가 부족합니다
		ELSEIF 詳細文文字列受け渡し変数２ != ""
			PRINTFORMW %詳細文文字列受け渡し変数２%
		ELSE
			CALLFORM %能力名保存:選択中番号%("取得時処理")
			FLAG:ZP所持量 -= RESULT
			PRINTFORMW %詳細文文字列受け渡し変数%
		ENDIF
		選択中番号 = -1
	CASEELSE
		選択中番号 = LOCAL
ENDSELECT
GOTO 表示部分


@ZP能力取得_ハーレム入門(処理モード = "")
#DIMS 処理モード

SIF あなた特殊能力:ハーレム
	RETURN -1

IF 処理モード == "取得時処理"
	LOCALS = 능력［하렘 입문］을 취득했습니다
	あなた特殊能力:ハーレム = 1
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 한 번에 여러 사람을 연모 대상으로 삼기 위한 능력입니다. <br>
	LOCALS += "취득과 동시에 3명까지 대상으로 삼을 수 있습니다. <br>"
	LOCALS += "또한, 연모 소질을 획득한 인원수에 따라 이 능력은 성장합니다. <br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN 25

@ZP能力取得_王の覚醒(処理モード = "")
#DIM CONST ハーレムレベル_キング = 4
#DIMS 処理モード

SIF あなた特殊能力:ハーレム != ハーレムレベル_キング || あなた恋慕人数() < 100
	RETURN -1

IF 処理モード == "取得時処理"
	LOCALS = 능력 [하렘 킹]이 각성하여, [하렘 킹 마그나]로 진화했다!
	あなた特殊能力:ハーレム = 5
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 성정수 era의 힘을 빌려, [하렘 킹]의 극한에 이릅니다. <br>
	LOCALS += @"취득과 동시에 %TOFULL(TOSTR(キャラクタ数上限))%명까지 연모 대상으로 삼을 수 있습니다. <br>"
	LOCALS += "또한, 복수 플레이 중에 연인끼리 친해지기 쉬워집니다. <br>"
	LOCALS += "이 능력은 더 이상 성장하지 않습니다. <br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN 2500

@あなた恋慕人数()
#FUNCTION
#DIM キャラ番号
#DIM 人数

人数 = 0
FOR キャラ番号, 1, CHARANUM
	SIF 陥落チェック_恋慕系(キャラ番号) && !TALENT:キャラ番号:分身
		人数++
NEXT
RETURNF 人数


@ZP能力取得_遊び人入門(処理モード = "")
#DIMS 処理モード

SIF あなた特殊能力:遊び人
	RETURN -1

IF 処理モード == "取得時処理"
	LOCALS = 능력 [바람둥이 입문]을 취득했습니다
	あなた特殊能力:遊び人 = 1
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 여러 상대와 육체관계를 맺기 위한 능력입니다. <br>
	LOCALS += "취득하면 성교를 부탁했을 때, 승낙받기 쉬워집니다. <br>"
	LOCALS += "또한, 섹스 프렌드 소질을 획득한 인원수에 따라 이 능력은 성장합니다. <br>"
	LOCALS += "이 능력이 없어도, 여러 명의 섹스 프렌드를 만들 수 있습니다. <br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN 25

@ZP能力取得_帝王覚醒(処理モード = "")
#DIM CONST 遊び人レベル_帝王 = 4
#DIMS 処理モード

SIF あなた特殊能力:遊び人 != 遊び人レベル_帝王 || あなたセフレ人数() < 100
	RETURN -1

IF 処理モード == "取得時処理"
	LOCALS = 능력 [환락가의 제왕]이 각성하여, [환락가의 제왕 극]으로 진화했다!
	あなた特殊能力:遊び人 = 5
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 성정수 era의 힘을 빌려, [환락가의 제왕]의 극한에 이릅니다. <br>
	LOCALS += "취득하면 성교를 부탁했을 때, 상당히 승낙받기 쉬워집니다. <br>"
	LOCALS += "또한, 유혹한 상대가 만취에 가까운 상태가 될 수 있습니다. <br>"
	LOCALS += "이 능력은 더 이상 성장하지 않습니다. <br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN 2500

@あなたセフレ人数()
#FUNCTION
#DIM キャラ番号
#DIM 人数

人数 = 0
FOR キャラ番号, 1, CHARANUM
	SIF TALENT:キャラ番号:セフレ && !TALENT:キャラ番号:分身
		人数++
NEXT
RETURNF 人数


@ZP能力取得_ギャンブラー(処理モード = "")
#DIMS 処理モード

SIF あなた特殊能力:ギャンブラー
	RETURN -1

IF 処理モード == "取得時処理"
	LOCALS = 능력 [갬블러]를 취득했습니다
	あなた特殊能力:ギャンブラー = 1
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 도박을 많이 경험하기 위한 능력입니다. <br>
	LOCALS += "취득하면 카드나 탁구 승부 시, 확실히 도박을 할 수 있습니다. <br>"
	LOCALS += "별도로 게임 자체에 강해지는 것은 아니라는 점에 주의해 주세요. <br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN 15


@ZP能力取得_技巧レベル上昇(処理モード = "")
#DIM CONST 最大レベル = 10
#DIMS 処理モード
#DIM ZP消費量

SIF ABL:PLAYER:技巧 >= 最大レベル
	RETURN -1

ZP消費量 = ABL:PLAYER:技巧 * ABL:PLAYER:技巧 * 5
IF 処理モード == "取得時処理"
	ABL:PLAYER:技巧 += 1
	LOCALS = 기교가 Lv{ABL:PLAYER:技巧}로 상승했습니다
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 상대에게 더 큰 쾌락을 주기 위한 능력입니다. <br>
	LOCALS += "기교 레벨이 높아질 때마다 가격은 상승합니다. <br>"
	LOCALS += @"현재 기교: Lv{ABL:PLAYER:技巧, 2}<br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN ZP消費量


@ZP能力取得_朔望鑑定術(処理モード = "")
#DIM CONST 最大レベル = 2
#DIMS 処理モード

SIF あなた特殊能力:朔望鑑定術 >= 最大レベル
	RETURN -1

IF 処理モード == "取得時処理"
	あなた特殊能力:朔望鑑定術 += 1
	LOCALS = 능력 [삭망감정술 Lv{あなた特殊能力:朔望鑑定術}]을 취득했습니다
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 캐릭터의 발정기나 위험일을 알 수 있는 능력입니다. <br>
	LOCALS += "친밀해진 캐릭터의 주기를 파악하면, 임신 회피나 혹은 그 반대의 일도 쉬워질 것입니다. <br>"
	LOCALS += "현재 상태가 캐릭터 이름 옆에 항상 표시되며, 상세한 상태는 능력 표시 화면에서 확인할 수 있습니다. <br>"
	LOCALS += "Lv1：발정기만 파악 가능　　Lv2：위험일도 파악 가능<br>"
	LOCALS += @"현재 [삭망 감정술]：Lv{あなた特殊能力:朔望鑑定術}<br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す（Lvで費用は変わらない）
RETURN 20


@ZP能力取得_触手変化術(処理モード = "")
#DIMS 処理モード

SIF あなた特殊能力:触手変化術
	RETURN -1

IF 処理モード == "取得時処理"
	LOCALS = 능력 [촉수 변화술]을 습득했습니다
	あなた特殊能力:触手変化術 = 1
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 육체의 일부를 촉수로 변화시켜 자유자재로 조종하는 마법입니다. 다양한 촉수 명령을 사용할 수 있게 됩니다. <br>
	LOCALS += "습득 직후에는 촉수 종류도 주는 쾌락량도 적지만, 촉수 변화술의 Lv과 기교를 올림으로써 증가합니다. <br>"
	LOCALS += "단, 대상이 성벽 소질 [촉수 플레이]를 가지고 있지 않은 경우, 촉수 관련 명령은 실행할 수 없습니다. <br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN 80


@ZP能力取得_居場所感知(処理モード = "")
#DIMS 処理モード

SIF あなた特殊能力:居場所感知
	RETURN -1

IF 処理モード == "取得時処理"
	LOCALS = 능력 [위치 감지]를 습득했습니다
	あなた特殊能力:居場所感知 = 1
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 리조트 내 어디에 캐릭터가 있는지 감지하는 기술입니다. <br>
	LOCALS += "장소마다 누가 있는지 표시하는 기능과, 추적 설정을 한 캐릭터가 어느 장소에 있는지 표시하는 기능이 있습니다. <br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN 1


@ZP能力取得_フレンドリーセンス(処理モード = "")
#DIMS 処理モード

SIF あなた特殊能力:フレンドリーセンス
	RETURN -1

IF 処理モード == "取得時処理"
	LOCALS = 능력 [프렌들리 센스]를 습득했습니다
	あなた特殊能力:フレンドリーセンス = 1
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 캐릭터의 호감도·연모도를 수치화하여 표시하고, 또한 좋아하는 선물을 알 수 있는 기술입니다. <br>
	LOCALS += "또한, 「성교를 부탁한다」 실패 시 성공도 축적치가 표시됩니다. <br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN 1


@ZP能力取得_体力成長の加護(処理モード = "")
#DIM CONST 最大レベル = 4
#DIMS 処理モード
#DIM 費用

SIF あなた特殊能力:体力成長の加護 >= 最大レベル
	RETURN -1

費用 = POWER(あなた特殊能力:体力成長の加護 + 1, 3) * 4
IF 処理モード == "取得時処理"
	あなた特殊能力:体力成長の加護 += 1
	LOCALS = 능력 [체력 성장 가호 Lv{あなた特殊能力:体力成長の加護}]를 습득했습니다
	詳細文文字列受け渡し変数 = %LOCALS%
	;体力再計算
	FOR LOCAL, 1, CHARANUM
		CALL 体力変動素質適用処理(LOCAL)
	NEXT
ELSE
	LOCALS = 절정에 의해 체력이 0이 된 캐릭터의 체력 상한이 성장하게 됩니다. <br>
	LOCALS += "능력 습득·성장 전에 체력이 0이 된 적이 있는 경우, 능력 습득·성장 시 그만큼도 성장합니다. <br>"
	LOCALS += "Lv1：다운 1회로 상한+10　　Lv2：다운 1회로 상한+15<br>"
	LOCALS += "Lv3：다운 1회로 상한+20　　Lv4：다운 1회로 상한+30<br>"
	LOCALS += @"현재의 [체력 성장 가호]：Lv{あなた特殊能力:体力成長の加護}<br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN 費用


@ZP能力取得_精力成長の加護(処理モード = "")
#DIM CONST 最大レベル = 4
#DIMS 処理モード
#DIM 費用

SIF あなた特殊能力:精力成長の加護 >= 最大レベル
	RETURN -1

費用 = POWER(あなた特殊能力:精力成長の加護 + 1, 3) * 10
IF 処理モード == "取得時処理"
	あなた特殊能力:精力成長の加護 += 1
	LOCALS = 능력 [정력 성장 가호 Lv{あなた特殊能力:精力成長の加護}]을(를) 획득했습니다
	詳細文文字列受け渡し変数 = %LOCALS%
	;精力再計算
	FOR LOCAL, 1, CHARANUM
		CALL 精力ゲージ_最大値変動処理(LOCAL)
	NEXT
ELSE
	LOCALS = 사정을 헛친 캐릭터의 정력 상한이 성장하게 됩니다.<br>
	LOCALS += "능력 획득·성장 전에 헛친 적이 있는 경우, 능력 획득·성장 시 그만큼 성장합니다.<br>"
	LOCALS += "Lv1：헛침 5회로 상한+1　　Lv2：헛침 3회로 상한+1<br>"
	LOCALS += "Lv3：헛침 2회로 상한+1　　Lv4：헛침 1회로 상한+1<br>"
	LOCALS += @"현재의 [정력 성장 가호]：Lv{あなた特殊能力:精力成長の加護}<br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN 費用


@ZP能力取得_ダンジョン探索PRO(処理モード = "")
#DIMS 処理モード

SIF あなた特殊能力:ダンジョン探索PRO
	RETURN -1

IF 処理モード == "取得時処理"
	LOCALS = 능력 [던전 탐색 PRO Lv1]을(를) 획득했습니다
	あなた特殊能力:ダンジョン探索PRO = 1
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 종업원에게 업무 [자동 탐색]을(를) 명령할 수 있게 됩니다.<br>
	LOCALS += "자동 탐색 업무에 종사하는 캐릭터가 한 명 이상 있을 때, 클리어한 던전을 자동으로 탐색해 줍니다.<br>"
	LOCALS += "탐색 결과는 하루 종료 시에 한꺼번에 표시됩니다.<br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN 1


@ZP能力取得_睡眠診断(処理モード = "")
#DIMS 処理モード

SIF あなた特殊能力:睡眠診断
	RETURN -1

IF 処理モード == "取得時処理"
	LOCALS = 능력 [수면 진단]을(를) 획득했습니다
	あなた特殊能力:睡眠診断 = 1
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 능력 표시 화면에 수면 예정 시간, 또는 기상 예정 시간이 표시됩니다.<br>
	LOCALS += "（깨어 있을 때는 수면 예정 시간, 잠들어 있을 때는 기상 예정 시간）<br>"
	LOCALS += "표시 위치는 일반 능력 화면 상단, 정보란입니다.<br>"
	LOCALS += "플레이어가 취침함에 따라 예정 시간은 변동되므로 주의해 주십시오.<br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN 1


@ZP能力取得_潜性の血(処理モード = "")
#DIMS 処理モード

IF 処理モード == "取得時処理"
	SELECTCASE あなた特殊能力:潜性の血
		CASE 0
			LOCALS = 능력 [잠재된 피]를 획득했습니다
			あなた特殊能力:潜性の血 = 1
			詳細文文字列受け渡し変数 = %LOCALS%
		CASE 1
			LOCALS = 능력 [잠재된 피]를 비활성화했습니다
			あなた特殊能力:潜性の血 = -1
			詳細文文字列受け渡し変数 = %LOCALS%
			RETURN 1
		CASE -1
			LOCALS = 능력 [잠재된 피]를 활성화했습니다
			あなた特殊能力:潜性の血 = 1
			詳細文文字列受け渡し変数 = %LOCALS%
			RETURN 1
	ENDSELECT
ELSE
	LOCALS = 캐릭터와의 사이에 태어난 아이에게 당신의 특징이 유전되기 어려워집니다.<br>
	LOCALS += "다른 종족과의 혼혈아라도 안정된 모습이 될 것입니다.<br>"
	LOCALS += "이 능력은 획득 후 이 화면에서 1ZP로 ON/OFF 설정이 가능합니다.<br>"
	詳細文文字列受け渡し変数 = %LOCALS%

	SIF あなた特殊能力:潜性の血 > 0
		詳細文文字列受け渡し変数３ = 플래그 세우기
	SIF あなた特殊能力:潜性の血 != 0
		RETURN 1
ENDIF

;値段を返す
RETURN 10


@ZP能力取得_特異胎質(処理モード = "")
#DIMS 処理モード

SIF !あなた特殊能力_発揮条件_特異胎質()
	RETURN -1

IF 処理モード == "取得時処理"
	SELECTCASE あなた特殊能力:特異胎質
		CASE 0
			LOCALS = 능력 [특이 체질]을 획득했습니다
			あなた特殊能力:特異胎質 = 1
			詳細文文字列受け渡し変数 = %LOCALS%
		CASE 1
			LOCALS = 능력 [특이 체질]을 비활성화했습니다
			あなた特殊能力:特異胎質 = -1
			詳細文文字列受け渡し変数 = %LOCALS%
		CASE -1
			LOCALS = 능력 [특이 체질]을 활성화했습니다
			あなた特殊能力:特異胎質 = 1
			詳細文文字列受け渡し変数 = %LOCALS%
	ENDSELECT
ELSE
	LOCALS = 당신이 이종의 씨앗을 받아도 임신할 수 있게 됩니다.<br>
	LOCALS += "※이 능력이 없어도 다른 조건에 따라 이종족의 아이를 임신할 수도 있습니다.<br>"
	LOCALS += "이 능력은 취득 후에 이 화면에서 ON/OFF를 설정할 수 있습니다. <br>"
	詳細文文字列受け渡し変数 = %LOCALS%

	SIF あなた特殊能力:特異胎質 > 0
		詳細文文字列受け渡し変数３ = 플래그 세우기
ENDIF

;値段を返す
RETURN 1

@あなた特殊能力_発揮条件_特異胎質()
#FUNCTION
RESULT = (GETBIT(TALENT:MASTER:性別, 0) && TALENT:MASTER:Ｖ感度 != -2)
RETURNF RESULT


@ZP能力取得_弱点洞察術(処理モード = "")
#DIMS 処理モード

SIF あなた特殊能力:弱点洞察術
	RETURN -1

IF 処理モード == "取得時処理"
	LOCALS = 능력［약점 통찰술］을 취득했습니다
	あなた特殊能力:弱点洞察術 = 1
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 상대의 약점을 간파하는 통찰력을 얻습니다. <br>
	LOCALS += "능력 표시 화면에서, 아직 판명되지 않은 약점 커맨드의 힌트를 얻을 수 있습니다. <br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN 40


@ZP能力取得_真・絶倫(処理モード = "")
#DIM CONST 最大レベル = 5
#DIMS 処理モード
#DIM ZP消費量

SIF あなた特殊能力:真・絶倫 >= 最大レベル
	RETURN -1
SIF !あなた特殊能力_発揮条件_真・絶倫()
	RETURN -1

ZP消費量 = POWER(あなた特殊能力:真・絶倫 + 5, 3) * 5
IF 処理モード == "取得時処理"
	あなた特殊能力:真・絶倫 += 1
	LOCALS = 능력［진・절륜 Lv{あなた特殊能力:真・絶倫}］을 취득했습니다
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 더 많은 정액을 내기 위한 능력입니다. <br>
	LOCALS += "한 번의 사정에서 정액량이 상승합니다. <br>"
	LOCALS += "절륜 레벨이 높아질 때마다 가격은 상승합니다. <br>"
	LOCALS += @"현재의［진・절륜］：Lv{あなた特殊能力:真・絶倫}<br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN ZP消費量

@あなた特殊能力_発揮条件_真・絶倫()
#FUNCTION
RESULT = 射精可能(MASTER)
RETURNF RESULT


@ZP能力取得_サキュバスボディ(処理モード = "")
#DIM CONST 最大レベル = 3
#DIMS 処理モード
#DIM ZP消費量

SIF あなた特殊能力:サキュバスボディ >= 最大レベル
	RETURN -1
SIF !あなた特殊能力_発揮条件_サキュバスボディ()
	RETURN -1

ZP消費量 = POWER(40, あなた特殊能力:サキュバスボディ + 1)
IF 処理モード == "取得時処理"
	あなた特殊能力:サキュバスボディ += 1
	LOCALS = 능력［서큐버스 바디 Lv{あなた特殊能力:サキュバスボディ}］를 취득했습니다
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 꿈의 마물에 비유될 정도로 요염하게, 육체를 변화시킵니다. <br>
	LOCALS += "상대에게 만져지는 것만으로 쾌락을 줄 수 있게 됩니다. <br>"
	LOCALS += "서큐버스 레벨이 높아질 때마다 가격은 상승합니다. <br>"
	LOCALS += "※이 능력은, 당신이 여성(후타나리를 제외)이 아니면 발휘되지 않습니다. <br>"
	;男性器が無いハンデを考慮した強さになってるので、ふたなりに適用するのは禁忌
	LOCALS += @"현재의［서큐버스 바디］：Lv{あなた特殊能力:サキュバスボディ}<br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN ZP消費量

@あなた特殊能力_発揮条件_サキュバスボディ()
#FUNCTION
RESULT = (TALENT:MASTER:性別 == 1)
RETURNF RESULT


@ZP能力取得_性愛の越境者(処理モード = "")
#DIMS 処理モード

SIF !あなた特殊能力_発揮条件_性愛の越境者()
	RETURN -1

IF 処理モード == "取得時処理"
	SELECTCASE あなた特殊能力:性愛の越境者
		CASE 0
			LOCALS = 능력［성애의 월경자］를 획득했습니다
			あなた特殊能力:性愛の越境者 = 1
			詳細文文字列受け渡し変数 = %LOCALS%
		CASE 1
			LOCALS = 능력［성애의 월경자］를 비활성화했습니다
			あなた特殊能力:性愛の越境者 = -1
			詳細文文字列受け渡し変数 = %LOCALS%
			RETURN 1
		CASE -1
			LOCALS = 능력［성애의 월경자］를 활성화했습니다
			あなた特殊能力:性愛の越境者 = 1
			詳細文文字列受け渡し変数 = %LOCALS%
			RETURN 1
	ENDSELECT
ELSE
	LOCALS '= "연애 대상이 아닌 상대에게도 성적으로 느끼게 되는 풍모와 행동을 익힙니다. <br>"
	LOCALS += "접촉을 반복함으로써, 드물게 일부 캐릭터의 성벽을 파괴할 수 있습니다. <br>"
	LOCALS += "캐릭터의 소질에 따라, 동성애·이성애에 눈뜨게 하는 난이도는 다릅니다. <br>"
	LOCALS += "이 능력은 획득 후 이 화면에서 1ZP로 ON/OFF 설정이 가능합니다. <br>"
	詳細文文字列受け渡し変数 = %LOCALS%

	SIF あなた特殊能力:性愛の越境者 > 0
		詳細文文字列受け渡し変数３ = 플래그 세우기
	SIF あなた特殊能力:性愛の越境者 != 0
		RETURN 1
ENDIF

;値段を返す
RETURN 30

@あなた特殊能力_発揮条件_性愛の越境者()
#FUNCTION
RESULT = (TALENT:MASTER:性別 == 1 || TALENT:MASTER:性別 == 2)
RETURNF RESULT


@ZP能力取得_縦横無尽(処理モード = "")
#DIMS 処理モード

SIF あなた特殊能力:縦横無尽
	RETURN -1

IF 処理モード == "取得時処理"
	LOCALS = 능력［종횡무진］을 획득했습니다
	あなた特殊能力:縦横無尽 = 1
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 리조트 내의 구조를 모두 파악하고, 최단 지름길을 찾아내는 능력을 얻습니다. <br>
	LOCALS += "단독 이동 커맨드·퀵 이동 시, 즉시 목적지에 도달합니다. <br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN 20


@ZP能力取得_八面六臂(処理モード = "")
#DIM CONST 最大レベル_八面六臂 = 4
#DIMS 処理モード
#DIM ZP消費量

SIF あなた特殊能力:八面六臂 >= 最大レベル_八面六臂
	RETURN -1

ZP消費量 = 100 + POWER(あなた特殊能力:八面六臂, 3) * 20
IF 処理モード == "取得時処理"
	あなた特殊能力:八面六臂 += 1
	LOCALS = 능력［팔면육비 Lv{あなた特殊能力:八面六臂}］를 획득했습니다
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 동시에 키스나 애무, 삽입이 가능한 최대 인원수가 상승하는 능력입니다. <br>
	LOCALS += "Lv1: 4명까지　　Lv2: 6명까지<br>"
	LOCALS += "Lv3：12명까지　　Lv4：24명까지<br>"
	LOCALS += "팔면육비 레벨이 높아질 때마다 가격은 상승합니다. <br>"
	LOCALS += "또한, 동시에 데리고 나갈 수 있는 인원 제한이 없어집니다. <br>"
	LOCALS += @"현재의［팔면육비］：Lv{あなた特殊能力:八面六臂}<br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN ZP消費量


@ZP能力取得_一騎当千(処理モード = "")
#DIM CONST 費用 = 50000
#DIM CONST ハーレムレベル_キング = 4
#DIM CONST 遊び人レベル_帝王 = 4
#DIM CONST 最大レベル_八面六臂 = 4
#DIMS 処理モード

;条件を満たさないと表示されない隠し能力
SIF あなた特殊能力:八面六臂 != 最大レベル_八面六臂 || FLAG:ZP所持量 < 費用
	RETURN -1
SIF あなた特殊能力:ハーレム < ハーレムレベル_キング && あなた特殊能力:遊び人 < 遊び人レベル_帝王
	RETURN -1

IF 処理モード == "取得時処理"
	あなた特殊能力:八面六臂 = 5
	LOCALS = 능력［일기당천］을 습득했습니다
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 동시에 키스나 애무, 삽입이 가능한 최대 인원수가 더욱 상승하는 능력입니다. <br>
	IF あなた特殊能力:ハーレム >= ハーレムレベル_キング
		LOCALS += "천 명의 연인들을 상대해도, 왕의 기개를 보여줄 수 있을 것입니다. <br>"
	ELSE
		LOCALS += "천 명의 섹스 파트너들을 상대해도, 제왕의 위엄을 보여줄 수 있을 것입니다. <br>"
	ENDIF
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN 費用


@ZP能力取得_無間睡眠(処理モード = "")
#DIMS 処理モード

SIF あなた特殊能力:無間睡眠
	RETURN -1

IF 処理モード == "取得時処理"
	LOCALS = 능력［무간수면］을 습득했습니다
	あなた特殊能力:無間睡眠 = 1
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 언제든지 영원히 잠들 수 있는 능력입니다. <br>
	LOCALS += "현재 시각에 영향을 받지 않고 커맨드 「취침」을 선택할 수 있습니다. <br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN 10


@ZP能力取得_エナジードレイン(処理モード = "")
#DIMS 処理モード

SIF !あなた特殊能力_発揮条件_エナジードレイン()
	RETURN -1

IF 処理モード == "取得時処理"
	SELECTCASE あなた特殊能力:エナジードレイン
		CASE 0
			LOCALS = 능력［에너지 드레인］을 습득했습니다
			あなた特殊能力:エナジードレイン = 1
			詳細文文字列受け渡し変数 = %LOCALS%
		CASE 1
			LOCALS = 능력［에너지 드레인］을 무효화했습니다
			あなた特殊能力:エナジードレイン = -1
			詳細文文字列受け渡し変数 = %LOCALS%
			RETURN 1
		CASE -1
			LOCALS = 능력［에너지 드레인］을 유효화했습니다
			あなた特殊能力:エナジードレイン = 1
			詳細文文字列受け渡し変数 = %LOCALS%
			RETURN 1
	ENDSELECT
ELSE
	LOCALS = 상대의 체력을 정기로서 빼앗을 수 있는 능력을 익힙니다. <br>
	LOCALS += "상대의 정력이 다할 것 같을 때, 체력을 정력으로 변환합니다. <br>"
	LOCALS += "※이 능력은 당신이 여성(후타나리 포함)이 아니면 발휘되지 않습니다. <br>"
	LOCALS += "이 능력은 취득 후 이 화면에서 1ZP로 ON/OFF 설정이 가능합니다. <br>"
	詳細文文字列受け渡し変数 = %LOCALS%

	SIF あなた特殊能力:エナジードレイン > 0
		詳細文文字列受け渡し変数３ = 플래그 세우기
	SIF あなた特殊能力:エナジードレイン != 0
		RETURN 1
ENDIF

;値段を返す
RETURN 160

@あなた特殊能力_発揮条件_エナジードレイン()
#FUNCTION
RESULT = (GETBIT(TALENT:MASTER:性別, 0) && TALENT:MASTER:Ｖ感度 != -2)
RETURNF RESULT


@ZP能力取得_筒枯らし(処理モード = "")
#DIM CONST 最大レベル = 3
#DIMS 処理モード
#DIM ZP消費量

SIF あなた特殊能力:筒枯らし >= 最大レベル
	RETURN -1
SIF !あなた特殊能力_発揮条件_筒枯らし()
	RETURN -1

ZP消費量 = POWER(あなた特殊能力:筒枯らし + 6, 3) * 5
IF 処理モード == "取得時処理"
	あなた特殊能力:筒枯らし += 1
	LOCALS = 능력［통 말리기 Lv{あなた特殊能力:筒枯らし}］을(를) 취득했습니다
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 사정을 멈출 수 없게 만드는 성의 수단을 습득합니다. <br>
	LOCALS += "한 번의 사정에서 상대의 정액량이 상승합니다. <br>"
	LOCALS += "※이 능력은 당신이 여성(후타나리 제외)이 아니면 발휘되지 않습니다. <br>"
	LOCALS += @"현재의［통 말리기］：Lv{あなた特殊能力:筒枯らし}<br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN ZP消費量

@あなた特殊能力_発揮条件_筒枯らし()
#FUNCTION
RESULT = (TALENT:MASTER:性別 == 1)
RETURNF RESULT


@ZP能力取得_姓名診断士(処理モード = "")
#DIMS 処理モード

SIF あなた特殊能力:姓名診断士
	RETURN -1

IF 処理モード == "取得時処理"
	LOCALS = 능력［성명 진단사］을(를) 취득했습니다
	あなた特殊能力:姓名診断士 = 1
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 이름으로 운기의 흐름을 진단하는 직업에 종사하기 위한 자격입니다. <br>
	LOCALS += "부모와의 관계성에 상관없이, 리조트에서 태어난 아이의 이름을 지어줄 수 있게 됩니다. <br>"
	LOCALS += "(부모의 구상 측에서 특수 조건이 설정된 경우를 제외)<br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN 20


@ZP能力取得_任意引っ越し術(処理モード = "")
#DIMS 処理モード

SIF あなた特殊能力:任意引っ越し術
	RETURN -1

SIF ITEM:書籍『引っ越しで幸せになる方法』 == 0
	RETURN -1

IF 処理モード == "取得時処理"
	LOCALS = 능력［임의 이사술］을(를) 취득했습니다
	あなた特殊能力:任意引っ越し術 = 1
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 이사의 훌륭함을 상대에게 전할 수 있게 되는 능력입니다. <br>
	LOCALS += "거주구 화면에서, 정주자의 캐릭터를 임의의 방으로 이사시킬 수 있게 됩니다. <br>"
	LOCALS += "단, 다른 캐릭터와 동거시킬 경우에는 어느 정도의 친밀도가 필요합니다. <br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN 150


@ZP能力取得_肉体改造術(処理モード = "")
#DIMS 処理モード

;;とりあえず、全員合計で10cm以上変動させることを取得条件に
;LOCAL:1 = 0
;FOR LOCAL, 1, CHARANUM
;	LOCAL:1 += ABS(BASE:LOCAL:変動バスト) +  ABS(BASE:LOCAL:変動ウエスト) +  ABS(BASE:LOCAL:変動ヒップ)
;NEXT
;
;SIF  LOCAL:1 < 1000
;	RETURN -1

IF 処理モード == "取得時処理"
	SELECTCASE あなた特殊能力:肉体改造術
		CASE 0
			LOCALS = 능력［육체 개조술］을 습득했습니다
			あなた特殊能力:肉体改造術 = 1
			詳細文文字列受け渡し変数 = %LOCALS%
		CASE 1
			LOCALS = 능력［육체 개조술］을 무효화했습니다
			あなた特殊能力:肉体改造術 = -1
			詳細文文字列受け渡し変数 = %LOCALS%
			RETURN 1
		CASE -1
			LOCALS = 능력［육체 개조술］을 유효화했습니다
			あなた特殊能力:肉体改造術 = 1
			詳細文文字列受け渡し変数 = %LOCALS%
			RETURN 1
	ENDSELECT
ELSE
	LOCALS = 주위 캐릭터의 스리 사이즈 성장 능력을 크게 상승시키는 능력입니다. <br>
	LOCALS += "모든 스리 사이즈의 변동치가 10배가 됩니다. <br>"
	LOCALS += "옵션의 스리 사이즈 변동 관련이 켜져 있는 경우에만 기능합니다. <br>"
	LOCALS += "캐릭터 고유 스리 사이즈 변동이 설정되어 있는 경우, 기능하지 않을 가능성이 있습니다. <br>"
	LOCALS += "이 능력은 습득 후에 이 화면에서 1ZP로 ON/OFF 설정이 가능합니다. <br>"
	詳細文文字列受け渡し変数 = %LOCALS%

	SIF あなた特殊能力:肉体改造術 > 0
		詳細文文字列受け渡し変数３ = 플래그 세우기
	SIF あなた特殊能力:肉体改造術 != 0
		RETURN 1
ENDIF

;値段を返す
RETURN 50


@ZP能力取得_希釈精液(処理モード = "")
#DIMS 処理モード

;;とりあえず、全員合計で10cm以上変動させることを取得条件に
;LOCAL:1 = 0
;FOR LOCAL, 1, CHARANUM
;	LOCAL:1 += ABS(BASE:LOCAL:変動バスト) +  ABS(BASE:LOCAL:変動ウエスト) +  ABS(BASE:LOCAL:変動ヒップ)
;NEXT
;
;SIF  LOCAL:1 < 1000
;	RETURN -1

IF 処理モード == "取得時処理"
	SELECTCASE あなた特殊能力:希釈精液
		CASE 0
			LOCALS = 능력［희석 정액］을 습득했습니다
			あなた特殊能力:希釈精液 = 1
			詳細文文字列受け渡し変数 = %LOCALS%
		CASE 1
			LOCALS = 능력［희석 정액］을 무효화했습니다
			あなた特殊能力:希釈精液 = -1
			詳細文文字列受け渡し変数 = %LOCALS%
			RETURN 1
		CASE -1
			LOCALS = 능력［희석 정액］을 유효화했습니다
			あなた特殊能力:希釈精液 = 1
			詳細文文字列受け渡し変数 = %LOCALS%
			RETURN 1
	ENDSELECT
ELSE
	LOCALS = 통상 사정으로 상대를 임신시키지 않게 되는 능력입니다. <br>
	LOCALS += "정액 농축 카운트가 존재할 때, 이 능력은 효과를 잃습니다.<br>"
	LOCALS += "마음껏 질내 사정을 하고 싶지만 아이는 딱히 필요 없을 때 사용합니다.<br>"
	LOCALS += "이 능력은 획득 후 이 화면에서 1ZP로 ON/OFF 설정이 가능합니다.<br>"
	詳細文文字列受け渡し変数 = %LOCALS%

	SIF あなた特殊能力:希釈精液 > 0
		詳細文文字列受け渡し変数３ = 플래그 세우기
	SIF あなた特殊能力:希釈精液 != 0
		RETURN 1
ENDIF

;値段を返す
RETURN 10


@ZP能力取得_来る者拒まず(処理モード = "")
#DIMS 処理モード

SIF あなた特殊能力:来る者拒まず
	RETURN -1

IF 処理モード == "取得時処理"
	LOCALS = 능력［오는 자 막지 않음］을(를) 획득했습니다
	あなた特殊能力:来る者拒まず = 1
	詳細文文字列受け渡し変数 = %LOCALS%
ELSE
	LOCALS = 도량이 넓어 무엇이든 받아들여 준다고 깊은 관계의 상대에게 생각하게 하는 능력입니다.<br>
	LOCALS += "당신에게 야습을 하려는 상대를 용기를 북돋아, 직전에 망설이지 않게 됩니다.<br>"
	詳細文文字列受け渡し変数 = %LOCALS%
ENDIF

;値段を返す
RETURN 50


