@起床前メニュー上部分表示文章()
#FUNCTIONS

IF 起床前メニュー上部分表示フラグ
	RETURNF TIPS表示文章()
ELSE
	RETURNF かんたんチュートリアル表示文章()
ENDIF


@起床前メニュー上部分文章切り替え(入力番号)
#DIM 入力番号

IF 起床前メニュー上部分表示フラグ
	SELECTCASE 入力番号
		CASE 800
			起床前メニュー上部分表示番号 --
			SIF 起床前メニュー上部分表示番号 <= 0
				起床前メニュー上部分表示番号 = TIPS個数
		CASE 801
			起床前メニュー上部分表示番号 ++
			SIF 起床前メニュー上部分表示番号 > TIPS個数
				起床前メニュー上部分表示番号 = 1
		CASE 810
			起床前メニュー上部分表示番号 = 0
			起床前メニュー上部分表示フラグ = 0
		CASE 811
			起床前メニュー上部分表示番号 = 0
	ENDSELECT
ELSE
	SELECTCASE 入力番号
		CASE 800 TO 802
			起床前メニュー上部分表示番号 = 入力番号
		CASE 809
			起床前メニュー上部分表示番号 = 0
			起床前メニュー上部分表示フラグ = 1
		CASE 810
			起床前メニュー上部分表示番号 = 0
	ENDSELECT
ENDIF

@かんたんチュートリアル表示文章()
#FUNCTIONS
#DIMS 表示文章

;長さの目安：最初の全角空白と最後の<br>を除いて114まで

表示文章 '= ""
SELECTCASE 起床前メニュー上部分表示番号
	CASE 0
		表示文章 += "■간단 튜토리얼<br>"
		表示文章 += "　간단한 튜토리얼이 표시됩니다. 항목을 선택해 주세요。<br>"
		表示文章 += "<br>"
		表示文章 += "　<button value='800'>[800] 우선 뭘 해야 해?</button><br>"
		表示文章 += "　<button value='801'>[801] 빨리 야한 짓 하고 싶은데</button><br>"
		表示文章 += "　<button value='802'>[802] 이 캐릭터에게 구상이 붙어있어?</button><br>"
		表示文章 += "<br>"
		表示文章 += "　<button value='809'>[809] 간단 튜토리얼을 표시하지 않음</button><br>"
	CASE 800
		表示文章 += "■우선 뭘 해야 해?<br>"
		表示文章 += "　처음에[110] - 리조트 광고를 내다 를 선택하고, [1]일반 광고를 내다 를 선택해 주세요。<br>"
		表示文章 += "　광고를 내야 비로소 캐릭터가 리조트에 방문하게 됩니다。<br>"
		表示文章 += "　그 후에는[100] - 기상 을 선택하여 리조트 내로 이동하고, 캐릭터들과 교류할 수 있습니다。<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "　<button value='810'>[810] 간단 튜토리얼로 돌아가기</button><br>"
	CASE 801
		表示文章 += "■빨리 야한 짓 하고 싶은데<br>"
		表示文章 += "　이 변형은 섹스까지가 다소 먼 변형입니다。<br>"
		表示文章 += "　가장 간단한 방법은[121] - 능력 표시 에서, 또는 캐릭터와 같은 방에 있는 상태에서 능력 표시를 선택하고,<br>"
		表示文章 += "　[110]연모 대상으로 선택 을 선택。그리고 행동을 함께 함으로써 연모 레벨을 올리고, 고백하기[352] 를 성공시키는 것입니다。<br>"
		表示文章 += "　고백 성공 후 둘만 있게 되면, 쓰러뜨리는[350] 것으로 섹스에 돌입할 수 있습니다.<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "　<button value='810'>[810] 간단 튜토리얼로 돌아가기</button><br>"
	CASE 802
		表示文章 += "■이 캐릭터에게 구상이 붙어있나요?<br>"
		表示文章 += "　[121] - 능력 표시 에서[2000] 필터 기능 을 선택하고, [구상 없음] 을 숨기면<br>"
		表示文章 += "　구상 파일이 있는 캐릭터만 목록에 표시됩니다.<br>"
		表示文章 += "　단, 이것은 파일이 있는지 없는지만 확인하는 것이므로, 내용물을 보증하는 것은 아닙니다.<br>"
		表示文章 += "　구상의 충실도에 관해서는 ERB 파일을 직접 열람해 주십시오.<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "　<button value='810'>[810] 간단 튜토리얼로 돌아가기</button><br>"
ENDSELECT
RETURNF 表示文章


@TIPS表示文章
#FUNCTIONS
#DIMS 表示文章

;長さの目安：最初の全角空白と最後の<br>を除いて114まで

表示文章 = ■TIPS!<br>
SELECTCASE 起床前メニュー上部分表示番号
	CASE 0
		起床前メニュー上部分表示番号 = RAND(TIPS個数) + 1
		RESTART
	CASE 1
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += "　탐색은 현재 표시되는 기상 전 메뉴에서와, 기상 후 현관까지 이동한 후에 하는 방법이 있습니다.<br>"
		表示文章 += "　내용에 차이는 없지만, 현관에서 출발하면 시간을 소비합니다.<br>"
		表示文章 += "　기상 전 메뉴에서 하는 것이 이득입니다.<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 2
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += "　배리언트 개발은 주로 Discord에서 이루어지고 있습니다.<br>"
		表示文章 += "　잡담만 참여하거나 ROM 전용 등도 환영합니다. 부담 없이 참여해 주십시오.<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 3
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += "　연안부 숲 깊숙이 있는 스톤 이터는, 한 번 토벌한 후에도 반복해서 싸울 수 있습니다.<br>"
		表示文章 += "　랜덤한 하급 반지나 불의 귀걸이를 얻을 수 있으므로, 장비가 갖춰질 때까지 매일 때려두는 것이 좋을 것입니다.<br>"
		表示文章 += "　다른 던전 보스도, 재토벌에 의해 아이템을 얻을 수 있는 경우가 많습니다. <br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 4
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += "　리조트의 인기는 매일의 수입에 직결되는 중요 스테이터스입니다. <br>"
		表示文章 += "　광고를 적극적으로 내거나, 잡무 게이지가 쌓이지 않도록 직원들을 많이 배치하는 것이 좋습니다. <br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 5
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += "　인기도는 리조트의 충실도에 따라 상한이 정해져 있습니다. <br>"
		表示文章 += "　광고를 내도 인기도가 오르지 않는다고 생각되면 시설 개발을 진행해 보세요. <br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 6
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += "　사정할 곳을 선택하는 것이 번거로울 때는 자동 사정 설정 기능을 이용해 보세요. <br>"
		表示文章 += "　・OPTION > 기능 전환 > 기타 기능 전환 > 자동 사정 설정<br>"
		表示文章 += "　・낮 행동 화면에서 [사정할 곳 설정]<br>"
		表示文章 += "　중 하나에서 설정으로 들어갈 수 있습니다. <br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 7
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += @"　이 게임에는<font color='#%カラーパレット_HTML("火属性")%'>불</font>、<font color='#%カラーパレット_HTML("水属性")%'>물</font>、<font color='#%カラーパレット_HTML("風属性")%'>바람</font>、<font color='#%カラーパレット_HTML("土属性")%'>흙</font>、<font color='#%カラーパレット_HTML("光属性")%'>빛</font>、<font color='#%カラーパレット_HTML("闇属性")%'>어둠</font>의 여섯 속성과 어느 것에도 해당하지 않는 무속성이 존재합니다. <br>"
		表示文章 += "　유리한 속성에 대해서는 주는 피해가 증가하고 받는 피해가 감소하므로, 유리함을 취하는 것은 매우 중요합니다. <br>"
		表示文章 += @"　유불리 관계는<font color='#%カラーパレット_HTML("火属性")%'>불</font>＞<font color='#%カラーパレット_HTML("風属性")%'>바람</font>＞<font color='#%カラーパレット_HTML("土属性")%'>흙</font>＞<font color='#%カラーパレット_HTML("水属性")%'>물</font>＞<font color='#%カラーパレット_HTML("火属性")%'>불</font>……의 4속성 관계와, 아군의<font color='#%カラーパレット_HTML("光属性")%'>빛</font>＞적의<font color='#%カラーパレット_HTML("闇属性")%'>어둠</font>、아군의<font color='#%カラーパレット_HTML("闇属性")%'>어둠</font>＞적의<font color='#%カラーパレット_HTML("光属性")%'>빛</font>의 2속성 관계로<br>"
		表示文章 += "　이루어져 있습니다. <br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 8
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += "　캐릭터에게는 반지, 귀걸이, 직업 증표를 장비할 수 있습니다. <br>"
		表示文章 += "　반지는 캐릭터의 스테이터스를 올리는 장비입니다. <br>"
		表示文章 += "　귀걸이는 캐릭터의 속성을 변경하고, 오의에 추가 효과를 부여하는 장비입니다.<br>"
		表示文章 += "　직업 증명서는 캐릭터가 사용 가능한 어빌리티를 추가하는 장비입니다.<br>"
		表示文章 += "　또한, 종류에 따라서는 위 이외의 특별한 효과를 가진 장비품도 존재합니다.<br>"
		表示文章 += "<br>"
	CASE 9
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += "　유리 속성으로 공격했을 때, 공격력이 1.3배로 계산됩니다.<br>"
		表示文章 += "　불리 속성으로 공격했을 때, 공격력이 0.7배로 계산됩니다.<br>"
		表示文章 += "　유리하지도 불리하지도 않은 속성으로 공격했을 때, 공격력은 1.0배로 계산됩니다.<br>"
		表示文章 += "　단, 캐릭터 본래의 속성과 귀걸이의 변경 속성이 일치했을 때, 유리 시 1.4배, 불리 시 0.75배, 통상 시 1.05배로 계산됩니다.<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 10
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += "　V·A 삽입 시 모드의 강도와 속도는 주는 쾌락과 고통에 관계합니다.<br>"
		表示文章 += "　강도는 V·A 감각이 강도 이상일 때 쾌락을 증가시킵니다. V·A 감각이 강도 이하일 때 고통을 증가시킵니다.<br>"
		表示文章 += "　속도는 윤활 PALAMLv가 (속도+3) 이상일 때 쾌락을 증가시킵니다. 윤활 PALAMLv가 (속도+3) 이하일 때 고통을 증가시킵니다.<br>"
		表示文章 += "　윤활 PALAM이 마찰 0일 때는 쾌락 증가가 발생하고, 고통 증가는 발생하지 않습니다.<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	CASE 11
		;長さ目安 = "　------------------------------------------------------------------------------------------------------------------<br>"
		表示文章 += "　아이템 장착 시 모드의 강도는 주는 쾌락에 관계합니다.<br>"
		表示文章 += "　오나홀, 클리캡, 니플캡은 강도를 크게 하면 조건 없이 쾌락이 증가합니다.<br>"
		表示文章 += "　바이브, 아날 바이브, 착유기는 각각 V·A·B 감각이 강도 이상일 때 쾌락을 증가시킵니다.<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
		表示文章 += "<br>"
	;TIPSを増やしたら"起床前メニュー上部分.ERH"のTIPS個数も書き換えること
ENDSELECT
表示文章 += "　<button value='810'>[810] 간단 튜토리얼을 표시한다</button>　　<button value='811'>[811] TIPS 리롤</button>　　<button value='800'>[800] 이전</button>　<button value='801'>[801] 다음</button><br>"

RETURNF 表示文章
