@オススメセット処理_主人公たちセット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■주인공 세트<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "그랑블루 판타지 원작의 4명의 주요 등장인물.<br>"
		RSTR:コマンド結果受渡し文字列 += "그랑 지타 루리아[생명의 연결고리]초보자에게 적합한 재능으로 ZP를 쉽게 얻을 수 있습니다.<br>"
		RSTR:コマンド結果受渡し文字列 += "반면, 이 세트는 캐릭터의 성별이 다르기 때문에 하렘에는 적합하지 않습니다.<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・가입 캐릭터<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[꿈꾸는 자]그랑") + 1000}'>[꿈꾸는 자]그랑</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[푸르고 아름다운 십천의 휘성]지타") + 1000}'>[푸르고 아름다운 십천의 휘성]지타</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[푸른 소녀]루리아") + 1000}'>[푸른 소녀]루리아</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[작고 붉은 용]비") + 1000}'>[작고 붉은 용]비</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 이 세트를 적용한다.</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[꿈꾸는 자]그랑")
		追加候補:1 = キャラ検索("[푸르고 아름다운 십천의 휘성]지타")
		追加候補:2 = キャラ検索("[푸른 소녀]루리아")
		追加候補:3 = キャラ検索("[작고 붉은 용]비")
ENDSELECT


@オススメセット処理_十二神将・桜セット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■십이신장・벚꽃세트<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "미, 신, 유, 술의 십이신장 4명의 캐릭터.<br>"
		RSTR:コマンド結果受渡し文字列 += "구상, 탐색 어느 쪽도 충실하고 함락도 시키기 쉽고 초보자용.<br>"
		RSTR:コマンド結果受渡し文字列 += "resort시작의 4명을 손안에 넣자 세트.<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・가입 캐릭터<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[남남서의 수호신]아닐라") + 1000}'>[남남서의 수호신]아닐라</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[서남서의 수호신]안치라") + 1000}'>[서남서의 수호신]안치라</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[서쪽의 수호신]마키라") + 1000}'>[서쪽의 수호신]마키라</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[서북서의 수호신]바지라") + 1000}'>[서북서의 수호신]바지라</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 이 세트를 적용한다.</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[남남서의 수호신]아닐라")
		追加候補:1 = キャラ検索("[서남서의 수호신]안치라")
		追加候補:2 = キャラ検索("[서쪽의 수호신]마키라")
		追加候補:3 = キャラ検索("[서북서의 수호신]바지라")
ENDSELECT


@オススメセット処理_十二神将・黄桃セット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■십이신장・황도세트<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "해, 자, 축, 인의 십이신장 4명의 캐릭터<br>"
		RSTR:コマンド結果受渡し文字列 += "의외의 일면이 있는 아이가 많지만, 함락에는 그렇게까지 고생이 필요치 않다.<br>"
		RSTR:コマンド結果受渡し文字列 += "그녀들을 두근거리게 하는 것은 나다 세트.<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "※주의※이 세트에는 신다라・파이는 가입하지 않으니 주의!<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・가입 캐릭터<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[북북서의 수호신]쿠비라") + 1000}'>[북북서의 수호신]쿠비라</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[북쪽의 수호신]비카라") + 1000}'>[북쪽의 수호신]비카라</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[북북동의 수호신]샤토라") + 1000}'>[북북동의 수호신]샤토라</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[동북동의 수호신]신다라・후안") + 1000}'>[동북동의 수호신]신다라・후안</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 이 세트를 적용한다.</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[북북서의 수호신]쿠비라")
		追加候補:1 = キャラ検索("[북쪽의 수호신]비카라")
		追加候補:2 = キャラ検索("[북북동의 수호신]샤토라")
		追加候補:3 = キャラ検索("[동북동의 수호신]신다라・후안")
ENDSELECT


@オススメセット処理_十二神将・白桃セット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■십이신장・백도세트<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "해, 자, 축, 인의 십이신장 4명의 캐릭터<br>"
		RSTR:コマンド結果受渡し文字列 += "의외의 일면이 있는 아이가 많지만, 함락에는 그렇게까지 고생이 필요치 않다.<br>"
		RSTR:コマンド結果受渡し文字列 += "그녀들을 두근거리게 하는 것은 나다 세트.<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "※주의※이 세트에는 신다라・후안은 가입하지 않으니 주의!<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・가입 캐릭터<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[북북서의 수호신]쿠비라") + 1000}'>[북북서의 수호신]쿠비라</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[북쪽의 수호신]비카라") + 1000}'>[북쪽의 수호신]비카라</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[북북동의 수호신]샤토라") + 1000}'>[북북동의 수호신]샤토라</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[동북동의 수호신]신다라・파이") + 1000}'>[동북동의 수호신]신다라・파이</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 이 세트를 적용한다.</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[북북서의 수호신]쿠비라")
		追加候補:1 = キャラ検索("[북쪽의 수호신]비카라")
		追加候補:2 = キャラ検索("[북북동의 수호신]샤토라")
		追加候補:3 = キャラ検索("[동북동의 수호신]신다라・파이")
ENDSELECT


@オススメセット処理_十二神将・梅セット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■십이신장・매화세트<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "묘, 진, 사의 십이신장 3명의 캐릭터.<br>"
		;RSTR:コマンド結果受渡し文字列 += "卯、辰、巳、午の十二神将４人のキャラ。<br>"
		RSTR:コマンド結果受渡し文字列 += "여러가지 버릇이 있는 함락 난이도의 아이가 많아 중급자용.<br>"
		RSTR:コマンド結果受渡し文字列 += "그런 아이를 빠져들게 하고 싶은 세트.<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・가입 캐릭터<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[동쪽의 수호신]마코라") + 1000}'>[동쪽의 수호신]마코라</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[동남동의 수호신]하이라") + 1000}'>[동남동의 수호신]하이라</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[남남동의 수호신]인다라") + 1000}'>[남남동의 수호신]인다라</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 이 세트를 적용한다.</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[동쪽의 수호신]마코라")
		追加候補:1 = キャラ検索("[동남동의 수호신]하이라")
		追加候補:2 = キャラ検索("[남남동의 수호신]인다라")
ENDSELECT


@オススメセット処理_『組織』の女達セット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■『조직』의 여자들 세트<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "『조직』에 소속된 4명의 캐릭터.<br>"
		RSTR:コマンド結果受渡し文字列 += "4명 각각 단계적으로 난이도가 오르는 초보자~중급자용.<br>"
		RSTR:コマンド結果受渡し文字列 += "전사인 그녀들을 여자로 되돌리는 것은 너다 세트.<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・가입 캐릭터<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[진홍의 천광]제타") + 1000}'>[진홍의 천광]제타</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[불멸의 군청]베아트릭스") + 1000}'>[불멸의 군청]베아트릭스</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[준엄한 귀신교관]일사") + 1000}'>[준엄한 귀신교관]일사</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[달과 하늘 사이에]그윈") + 1000}'>[달과 하늘 사이에]그윈</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 이 세트를 적용한다.</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[진홍의 천광]제타")
		追加候補:1 = キャラ検索("[불멸의 군청]베아트릭스")
		追加候補:2 = キャラ検索("[준엄한 귀신교관]일사")
		追加候補:3 = キャラ検索("[달과 하늘 사이에]그윈")
ENDSELECT


@オススメセット処理_四聖セット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■사성세트<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "사성의 소녀 4명의 캐릭터.<br>"
		RSTR:コマンド結果受渡し文字列 += "성적인 일에 향하는 아이가 많지만 보통의 교류에는 어려움이 있는 중급자용.<br>"
		RSTR:コマンド結果受渡し文字列 += "가혹한 사명을 가진 소녀들을 치유해 보지 않겠는가 세트.<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・가입 캐릭터<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[사성주제]치치리") + 1000}'>[사성주제]치치리</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[사성현제]우르키") + 1000}'>[사성현제]우르키</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[사성백제]슈슈크") + 1000}'>[사성백제]슈슈크</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[사성청제]아미") + 1000}'>[사성청제]아미</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 이 세트를 적용한다.</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[사성주제]치치리")
		追加候補:1 = キャラ検索("[사성현제]우르키")
		追加候補:2 = キャラ検索("[사성백제]슈슈크")
		追加候補:3 = キャラ検索("[사성청제]아미")
ENDSELECT


@オススメセット処理_レヴィオンシスターズセット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■레비온 시스터즈 세트<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "레비온 왕국의 기사단 세 자매.<br>"
		RSTR:コマンド結果受渡し文字列 += "가드가 단단한 것은 장녀 뿐이며 초보자용.<br>"
		RSTR:コマンド結果受渡し文字列 += "충성을 바치는 사람을 바꾸어 버리는 배덕을 맛보자 세트.<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・가입 캐릭터<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[레비온 자매 장녀]마임") + 1000}'>[레비온 자매 장녀]마임</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[레비온 자매 차녀]미임") + 1000}'>[레비온 자매 차녀]미임</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[레비온 자매 막내]메임") + 1000}'>[레비온 자매 막내]메임</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 이 세트를 적용한다.</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[레비온 자매 장녀]마임")
		追加候補:1 = キャラ検索("[레비온 자매 차녀]미임")
		追加候補:2 = キャラ検索("[레비온 자매 막내]메임")
ENDSELECT


@オススメセット処理_銃工房の三姉妹セット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■총 공방의 세 자매 세트<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "총 공방의 세 자매.<br>"
		RSTR:コマンド結果受渡し文字列 += "가드가 단단하지만 틈도 존재하고 있는 초보자~중급자용<br>"
		RSTR:コマンド結果受渡し文字列 += "사이좋은 자매를 침대에서 더 사이좋게 시키자 세트.<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・가입 캐릭터<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[분려의 준수]실바") + 1000}'>[분려의 준수]실바</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[청신한 총 설계사]쿠쿠루") + 1000}'>[청신한 총 설계사]쿠쿠루</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[건 파우더 믹서]쿠무유") + 1000}'>[건 파우더 믹서]쿠무유</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 이 세트를 적용한다.</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[분려의 준수]실바")
		追加候補:1 = キャラ検索("[청신한 총 설계사]쿠쿠루")
		追加候補:2 = キャラ検索("[건 파우더 믹서]쿠무유")
ENDSELECT


@オススメセット処理_四騎士セット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■4기사 세트<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "페드라헤의 기사 4명의 캐릭터.<br>"
		RSTR:コマンド結果受渡し文字列 += "전원 성적인 일에는 몸가짐이 단단한 중급자~상급자용.<br>"
		RSTR:コマンド結果受渡し文字列 += "기사 4명에게 공주 취급되고 싶은 마음은 누구에게도 있지? 세트<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "※주의※ 전원 남성인 세트입니다! 역하렘을 원하지 않으면 주의!!<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・加入キャラ<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[준영의 쌍검사]랜슬롯") + 1000}'>[준영의 쌍검사]랜슬롯</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[불요불굴의 기사]베인") + 1000}'>[불요불굴의 기사]베인</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[염제]퍼시벌") + 1000}'>[염제]퍼시벌</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[용살의 기사]지크프리트") + 1000}'>[용살의 기사]지크프리트</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 이 세트를 적용한다.</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[준영의 쌍검사]랜슬롯")
		追加候補:1 = キャラ検索("[불요불굴의 기사]베인")
		追加候補:2 = キャラ検索("[염제]퍼시벌")
		追加候補:3 = キャラ検索("[용살의 기사]지크프리트")
ENDSELECT

@オススメセット処理_ヒューマンセット・超爆盛(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■휴먼 세트・초폭성<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "실바, 마기사, 시그, 쿠피탄의 휴먼 4명.<br>"
		RSTR:コマンド結果受渡し文字列 += "무엇이 초폭성인지는 곧 알게 될 것이다.<br>"
		RSTR:コマンド結果受渡し文字列 += "크면 클수록 좋다는 그대를 위한 세트.<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・가입 캐릭터<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[분려의 준수]실바") + 1000}'>[분려의 준수]실바</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[위치 크래프트]마기사") + 1000}'>[위치 크래프트]마기사</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[무지개빛 순정]쿠피탄") + 1000}'>[무지개빛 순정]쿠피탄</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[운해의 어민]시그") + 1000}'>[운해의 어민]시그</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 이 세트를 적용한다.</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[분려의 준수]실바")
		追加候補:1 = キャラ検索("[위치 크래프트]마기사")
		追加候補:2 = キャラ検索("[무지개빛 순정]쿠피탄")
		追加候補:3 = キャラ検索("[운해의 어민]시그")		
ENDSELECT

@オススメセット処理_熟れた牝妻セット(動作モード, 追加候補)
#DIM REF 追加候補
#DIMS 動作モード

SELECTCASE 動作モード
	CASE "説明文表示"
		RSTR:コマンド結果受渡し文字列 += "■농익은 아내 세트<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "하늘의 세계에서 살고 있는 4명의 유부녀 캐릭터.<br>"
		RSTR:コマンド結果受渡し文字列 += "사랑하는 남편에게 정조를 지킨 몸가짐이 조신한 여성 뿐이기 때문에, 공략 난이도는 중급자 이상으로.<br>"
		RSTR:コマンド結果受渡し文字列 += "아이를 낳고 키운 자궁을 다시 되돌려,『아내』로부터 『여자』로 끌어내려 타락시키고 싶다... 그런 그대에게 추천하는 세트.<br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "・가입 캐릭터<br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[상속의 연금술사]프로메티아") + 1000}'>[상속의 연금술사]프로메티아</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[참희의 자모]라르나") + 1000}'>[참희의 자모]라르나</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[선대축신]샤토라의 엄마") + 1000}'>[선대축신]샤토라의 엄마</button><br>"
		RSTR:コマンド結果受渡し文字列 += @"<button value='{キャラ検索("[염희의 어머니]아리시아") + 1000}'>[염희의 어머니]아리시아</button><br>"
		RSTR:コマンド結果受渡し文字列 += "<br>"
		RSTR:コマンド結果受渡し文字列 += "<button value='998'>[998] 이 세트를 적용한다.</button><br>"
	CASE "キャラセット"
		追加候補:0 = キャラ検索("[상속의 연금술사]프로메티아")
		追加候補:1 = キャラ検索("[참희의 자모]라르나")
		追加候補:2 = キャラ検索("[선대축신]샤토라의 엄마")
		追加候補:3 = キャラ検索("[염희의 어머니]아리시아")
ENDSELECT

