
@大規模エリア建設条件_海エリア(建築位置)
#DIM 建築位置
;一個まで
SIF MATCH(開拓エリア開発番号, 大規模番号_海エリア) > 0
	RETURN 0
;イベント見ること
SIF 海作成許可フラグ < 1
	RETURN 0

RETURN 1

@大規模エリア解説文章_海エリア
LOCALS = 
LOCALS += "성정수의 힘을 빌려 생성한 바다 지역. <br>"
LOCALS += "기본적으로 캐릭터는 수영복 차림으로 행동한다. 탈의실에서는 반대편을 엿볼 수 있다. <br>"
LOCALS += "해수욕장에서는 비치 플래그, 선착장에서는 낚시 등 전용 커맨드도 있다. <br>"
LOCALS += "<br>"
LOCALS += "※그 외, 향후 개발로 시설이 늘어날 수 있습니다. <br>"

詳細文文字列受け渡し変数 = %LOCALS%

;建設値段を返す
RETURN 3000000

@MAP_VIEWING_3(AA)
#DIMS REF AA, 0
TRYCALLFORM MAP_RESORT_3_{TFLAG:マップ種別}(AA)

@エリア情報登録_3(ARGS)
SELECTCASE ARGS
	CASE "エリア名"
		TSTR:場所名受渡 = 바다지역
	CASE "エリア移動可能場所"
		RETURN 1
ENDSELECT



@MAP_RESORT_3_0(AA)
#DIMS REF AA, 0
#DIM MAP

MAP = 0
AA:(MAP++) = ＼＿..　..　..　..　..　..　..　..　..　..　↑　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ
AA:(MAP++) = 　　＼..　..　..　..　..　..　..　..　..　..08..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ
AA:(MAP++) = 　　　＼..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ
AA:(MAP++) = 　　　　丶..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ
AA:(MAP++) = 　　　　├───┐　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ
AA:(MAP++) = 　　06　├───┘..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ
AA:(MAP++) = 　　　　├───┐　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／ 
AA:(MAP++) = 　　　　├───┘..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／ 
AA:(MAP++) = 　　　　｜　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／　　　　
AA:(MAP++) = 　　　　 丶　 ..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／　　　
AA:(MAP++) = 　　　　　｜..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／　　　　　　
AA:(MAP++) = 　　　　　｜　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／　　　　　　　
AA:(MAP++) = 　　　　　｜..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ＿＿＿／　　　　　　　　
AA:(MAP++) = 　　　　　 丶 ..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ／　　　　　　　　　　　　
AA:(MAP++) = 　　　　　　｜　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　.ォ｜　　　　　　　　　　　　　
AA:(MAP++) = 　　　　　　｜..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／　　　　　　 ＿＿　　　　
AA:(MAP++) = 　　　　　　｜　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　.. ォ｜　　　　　  ／　　＼　　　
AA:(MAP++) = 　　　　　　丶..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　.ォ｜　　　　　 ┃　　　┃　　　
AA:(MAP++) = 　　　　　　　＼..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..ォ／　　　　　　┃　　　┃　　　
AA:(MAP++) = 　　　　　　　　＼..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　.. ォ｜　 　　　　　┃　　　┃　　　
AA:(MAP++) = 　　　　　　　　　＼..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ／　　　　　　　┃　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　＼＿＿..　..　..　..　..　..　..　..　..　..　..　..　..　..　..　ォ／　　　　　　 　／　　 　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　＼＿＿＿　..　..　..　..　..　..　..　..　..　..　..　..　ォ／　　　　　　　　┃　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　＼＿＿＿..　..　..　..　..　..　..　..　..　..　ォ／　　　　　　　　　┃　　　　┃　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　＼＿　..　..　..　..ォ＿＿＿＿＿＿＿＿＿／　　　　　　　　　　┃　　　　┃　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　＼＿＿＿＿＿＿／　　　　　　　　　　　　　　　　　　 　／　　　　／　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　03　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　◯　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　◯　　◯　　　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　◯　　◯　　　　　　　　　　　　　　　　　　　　　　　┃　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　 　＿／　　　 　┃　　　　　
AA:(MAP++) = 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　　　┃07　　　　
AA:(MAP++) = 　　　　　　　　┌─────┐　　┌─┐┌─┐　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　　　┃　　　　　
AA:(MAP++) = 　　　　　　　　│　　　　　│　　│　││　│　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　　　┃　　　　
AA:(MAP++) = 　　　　　　　　│　　02　　│　　│04││05│　　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　　 　＼　　　　
AA:(MAP++) = 　　01　　　　　│　　　　　│　　│　││　│　　　　　　　　　　　　　　　　　　　　　　　 　／　　　　　　　　＼　　　
AA:(MAP++) = 　　　　　　　　└─────┘　　└─┘└─┘　　　　　　　　　　　　　　　　　　　　　　　　┃　　　　　　　　 　＼
AA:(MAP++) = 
AA:(MAP++) = 01：海水浴場入口　　02：海の家　　　　　03：海水浴場　　　　04：男子更衣室　　　05：女子更衣室
AA:(MAP++) = 06：船着き場　　　　07：岩陰　　　　　　08：沖合へ




@GETPLACENAME_3_0(ARG)
#FUNCTION
SELECTCASE ARG
	CASE 1
		TSTR:場所名受渡 = 해수욕장 입구
	CASE 2
		TSTR:場所名受渡 = 바닷가 상점
	CASE 3
		TSTR:場所名受渡 = 해수욕장
	CASE 4
		TSTR:場所名受渡 = 남자 탈의실
	CASE 5
		TSTR:場所名受渡 = 여자 탈의실
	CASE 6
		TSTR:場所名受渡 = 선착장
	CASE 7
		TSTR:場所名受渡 = 바위 그늘
	CASE 8
		TSTR:場所名受渡 = 먼바다
ENDSELECT

@DRAW_MAP_BG_3_0(SLICED, 表示文字列)
#DIMS REF 表示文字列
#DIMS SLICED
#DIM 改行フラグ

SELECTCASE SLICED
	CASE "."
		IF STRFIND(表示文字列, "<font color='#0073E6'>") < 0
			表示文字列 += @"<font color='#0073E6'>%SLICED%"
		ELSE
			表示文字列 += "."
		ENDIF
	CASE "ォ"
		表示文字列 += "</font>"
	;ふつうの
	CASEELSE
		表示文字列 += @"%SLICED%"
ENDSELECT

改行フラグ = 0


@エリア来訪時イベント_3

IF 海初来訪イベントフラグ == 0
	DRAWLINE
	PRINTL ［첫 방문: 바다 지역］
	DRAWLINE
	PRINTW
	PRINTFORMW %CALLNAME:PLAYER%은(는) 섬을 개척하고, 비어있는 지역에 생성한 바다를 방문했다.
	PRINTFORMW 이미 몇몇 발 빠른 관광객이 방문하여, 물가에서 놀거나 바닷가 식당에서 식사를 즐기고 있다.
	PRINTL 
	PRINTFORMW 성정수의 힘과 ZP를 구사하여 만들어진 바다는 아름답고, 밀려왔다 밀려가는 잔잔한 파도를 머금고 있다.
	PRINTFORMW 지금은 아직 별다를 것 없는 해수욕장이지만, 언젠가는 더 많은 레저 요소를 늘려도 좋을 것이다.
	PRINTFORMW 심해의 고전장 던전처럼 바닷속을 산책하거나, 배를 타고 먼바다로 나가 낚시를 하는 등 여러 가지를 생각해 볼 수 있을 것 같다 (※미구현입니다)
	PRINTL
	PRINTFORMW 또한, 지금은 평범한 물고기만 서식하고 있지만, 언젠가는 아우구스테와 같은 해산물이 발생할지도 모른다. (※미구현입니다)
	PRINTFORMW 그것도 나름 명물이 될 것 같지만…… 리조트 지역으로서는 대책을 생각해 두어야 할 것이다.
	PRINTFORMW 그렇다고 지금은 어려운 것을 생각하지 않고.
	PRINTFORMW 햇살 아래, 건강하게 바다에서 노는 것이 좋을 것 같다.
	PRINTL
	SETCOLOR カラーパレット("黄")
	PRINTFORMW 바다 지역의 완성으로 통상 의상 「수영복」을 입수했다.
	PRINTFORMW 바다 지역의 완성으로 통상 의상 「유카타빌라」를 입수했다.
	RESETCOLOR
	CALL 制服登録処理("水着")
	CALL 制服登録処理("浴衣")
	海初来訪イベントフラグ = 1
ENDIF


@海改造メニュー()
#FUNCTIONS
;100~199と999は大本のメニュー操作で使うため、使用しないこと

LOCALS = 바다 지역을 발전시켜, 지역의 기능이나 시설을 늘립니다. <br><br>
LOCALS += @"■[바다 지역의 발전] Lv{海改造度:0:0}：상한<br>"
LOCALS += "└■먼바다 지역을 활용한다<br>"
LOCALS += "　├"
IF 海改造度:6:0 < 1
	LOCALS += "<button value='260'>[어선을 구입한다]</button><br>"
ELSE
	LOCALS += "[어선을 구입한다]　구입 완료<br>"
ENDIF
LOCALS += @"　├"
IF 海改造度:6:1 < 1
	LOCALS += "<button value='261'>[유람선을 구입한다]</button><br>"
ELSE
	LOCALS += "[유람선을 구입한다]　구입 완료<br>"
ENDIF
LOCALS += @"　└"
IF 海改造度:6:2 < 1
	LOCALS += "<button value='262'>[해저 산책을 실용화한다]</button>"
ELSE
	LOCALS += "[해저 산책을 실용화한다]　실용화 완료"
ENDIF


RETURNF LOCALS


@海系列改造実行関数(ARG)

SELECTCASE ARG
	CASE 260
		DRAWLINE
		PRINTL 어선을 구입하여, 먼바다로 고기잡이를 나가게 됩니다.
		PRINTL 매일 무작위 물고기 재료를 얻습니다.
		PRINTL 
		PRINTL 어선을 구입하시겠습니까? (필요:30,000루피)
		PRINTBUTTONLC "[0] 예", 0
		PRINTBUTTONLC "[1] 아니요", 1
		INPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 30000
					PRINTW 루피가 부족합니다.
					RETURN
				ENDIF
				海改造度:6:0 = 1
				MONEY -= 30000
				PRINTL 어선을 구입했습니다!
				PRINTW (毎日ランダムな魚素材を入手)
				CALL RESET_GRAPH_3
				CALL 履歴データベース登録(CFLAG:MASTER:人物番号, @"海エリアで漁船を購入した","実績")
				RETURN
			CASE 1
				RETURN
		ENDSELECT
		RESTART
	CASE 261
		DRAWLINE
		PRINTL 유람선을 구매하여 관광객을 태우고 바다 생물을 관찰하는 투어를 시작합니다.
		PRINTL 리조트의 인기 상한이 상승합니다.
		PRINTL 
		PRINTL 유람선을 구매하시겠습니까? (필요: 20,000루피)
		PRINTBUTTONLC "[0] 예", 0
		PRINTBUTTONLC "[1] 아니오", 1
		INPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 20000
					PRINTW 루피가 부족합니다.
					RETURN
				ENDIF
				海改造度:6:1 = 1
				MONEY -= 20000
				PRINTL 유람선을 구매했습니다!
				PRINTW (リゾートの人気度上限上昇)
				CALL RESET_GRAPH_3
				CALL 履歴データベース登録(CFLAG:MASTER:人物番号, @"海エリアで遊覧船を購入した","実績")
				RETURN
			CASE 1
				RETURN
		ENDSELECT
		RESTART
	CASE 262
		DRAWLINE
		PRINTL 해저를 산책할 수 있는 마법을 실용화하여 관광에 활용합니다.
		PRINTL 리조트의 인기 상한이 상승하고, 전투 시 수속성 내성이 약간 상승합니다.
		PRINTL 
		PRINTL 마법을 연구하시겠습니까? (필요: 50,000루피)
		PRINTBUTTONLC "[0] 예", 0
		PRINTBUTTONLC "[1] 아니오", 1
		INPUT
		SELECTCASE RESULT
			CASE 0
				IF MONEY < 50000
					PRINTW 루피가 부족합니다.
					RETURN
				ENDIF
				海改造度:6:2 = 1
				MONEY -= 50000
				PRINTL 해저 산책 마법을 실용화했습니다!
PRINTW (リゾートの人気度上限上昇、水属性耐性上昇)
				CALL RESET_GRAPH_3
				CALL 履歴データベース登録(CFLAG:MASTER:人物番号, @"海エリアで海底散歩の魔法を実用化した","実績")
				RETURN
			CASE 1
				RETURN
		ENDSELECT
		RESTART
ENDSELECT


@海エリア漁処理()
#DIM 入手量
#DIM 入手カウント
#DIM 候補数
#DIMS 入手名
#DIM 改行カウント

VARSET RESULT
;ランダムに魚をランダムな数入手
入手量 = RAND:5 + 3
候補数 = DT_SELECT("所持素材データベース", "素材カテゴリ = '食物素材' And 食材分類 = '魚'")

RSTR:その他報告_記録文字列 += "　　어선에 의한 어업으로"
改行カウント = STRLENS("　　漁船による漁で")
FOR 入手カウント, 0, 入手量
	;とりあえず完全ランダム
	入手名 '= DT_CELL_GETS("所持素材データベース", RESULT:(RAND:候補数 + 1), "素材アイテム名", 1)
	CALL 素材入手処理(入手名, 1)
	IF 入手カウント > 0
		RSTR:その他報告_記録文字列 += ","
		改行カウント += STRLENS(入手名) + 2
	ELSE
		改行カウント += STRLENS(入手名)
	ENDIF
	IF 改行カウント >= 55
		改行カウント = 0
		RSTR:その他報告_記録文字列 += "<br>"
	ENDIF
	RSTR:その他報告_記録文字列 += @"%入手名%"
NEXT
RSTR:その他報告_記録文字列 += @"을(를) 손에 넣었다!"

;従業員分を追加
RSTR:その他報告_記録文字列 += RSTR:漁師結果一時保存
